doctype html
html(lang="pt-br")

  head
    //- style
    //- ===========================================
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="assets/styles/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" )

    //- meta
    //- ===========================================
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="icon" href="assets/img/favicon.png")

    //- Variables
    //- ===========================================
    - var title = "Mães no ENEM"
    - var description = "Projeto colaborativo para auxiliar mães que irão prestar o Exame Nacional do Ensino Médio ENEM."
    - var url = "https://maesnoenem.github.io/"
    - var image = "https://maesnoenem.github.io/assets/img/logo.jpg"

    //- Open graph
    //- ===========================================
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=url)
    meta(property="og:image" content=image)

    //- Twitter cards
    //- ===========================================
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=url)
    meta(name="twitter:image" content=image)

    //- SEO
    //- ===========================================
    meta(name="description" content=description)
    title=title

  body

    main.main
      header.header

        div.content-main
          h1.content-main__title Porque lugar de mãe</br>é onde ela quiser
          p.content-main__description por mais mães na <span class="content-main__description__featured">universidade</span>.

          div.arrow-down
            a.arrow-down__link(href="#sobre")
              img.arrow-down__link__img(src="./assets/img/arrow-down.png" alt="seta que leva para a seção sobre")

      section.text(id="sobre")
        h2.text__title como tudo começou...
        p.text__description O Mães no ENEM teve início em agosto de 2016 quando a jornalista Fernanda Vicente decidiu participar de uma corrente no Facebook em que mulheres se disponibilizavam a ajudar as mães que iriam prestar o Exame Nacional do Ensino Médio.

        p.text__description Inspirada na corrente lançada na rede social, Fernanda fez uma postagem em seu perfil se oferecendo para cuidar dos filhos das mulheres da região que mora.
 
        p.text__description A adesão e o interesse de outras mulheres foram imediatos e a partir daí, voluntárias de todo o país começaram a surgir. Nascia assim, o Mães no Enem.

    //- Google Analytics
    //- ===========================================
    include includes/google-analytics.html
